@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Event Catering</h1>
        <p class="lead">From Farm to Table, We Pledge Freshness and Flavor.</p>
        <hr/>
    </section>

    <div class="row">
        <section class="col-md-4 p-3 shadow mb-5 bg-white rounded" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Event List</h2>
            <p>
                This section consists of all the events which are created with there details.
            </p>
            <p><a class="btn btn-outline-dark" href="/Event/List">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4 p-3 shadow mb-5 bg-white rounded" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Menu List</h2>
            <p>This section consists all the menus with their events associated with them.</p>
            <p><a class="btn btn-outline-dark" href="/Menu/List">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4 p-3 shadow mb-5 bg-white rounded" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Food Items</h2>
            <p>This section consists of all the food items which you can add in any menu.</p>
            <p><a class="btn btn-outline-dark" href="/Food/List">Learn more &raquo;</a></p>
        </section>
    </div>
</main>