﻿@model n01629153_Event_Management.Models.SponsorDto
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-primary mt-3 float-end" href="/Sponsor/List">Back to list</a>
<h2>@Model.SponsorName</h2>
<div><strong>Contact Person:</strong> @Model.ContactPerson </div>
<div><strong>Contact Email:</strong> @Model.ContactEmail </div>
