@model EventCateringManagementSystem.Models.ViewModel.UpdateMenu
@{
    ViewBag.Title = "Edit";
}

<a class="btn btn-primary mt-3 float-end" href="/Menu/List">Back to list</a>
<h2 class="mt-5">Edit Menu</h2>
<form action="/Menu/Update/@Model.SelectedMenu.MenuID" method="POST" class="mt-3">
    <div style="display:none;">
        @* Pass through the menu ID *@
        <input type="text" name="MenuID" value="@Model.SelectedMenu.MenuID" />
    </div>
    <div class="mb-3">
        <label for="menuTitle" class="form-label">Menu Title:</label>
        <input type="text" class="form-control" id="menuTitle" placeholder="Enter menu name" name="MenuTitle" value="@Model.SelectedMenu.MenuTitle">
    </div>
    <div class="mb-3">
        <label for="menuDescription" class="form-label">Menu Description:</label>
        <textarea class="form-control" id="menuDescription" rows="3" name="menuDescription">@Model.SelectedMenu.MenuDescription</textarea>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary mb-3" value="Update">
    </div>
</form>

