﻿@model IEnumerable<n01629153_Event_Management.Models.SponsorDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Event</h2>
<form action="/Event/Create" method="POST">
    <div>
        <label>Event Name:</label> <input type="text" name="EventName" />
    </div>
    <div>
        <label>Event Description:</label> <input type="text" name="EventDescription" />
    </div>
    <div>
        <label>Event Date:</label> <input type="date" name="EventDate" />
    </div>
    <div>
        <label>Event Location:</label> <input type="text" name="EventLocation" />
    </div>
    <div>
        <label>Sponsor ID:</label> <input type="number" name="SponsorId" />
    </div>
    <div>
        <label>User ID:</label> <input type="number" name="UserId" />
    </div>
    <div>
        <input type="submit" value="Add Event" />
    </div>
</form>