@model EventCateringManagementSystem.Models.FoodDto
@{
    ViewBag.Title = "New";
}

<a class="btn btn-primary mt-3 float-end" href="/Food/List">Back to list</a>
<h2 class="m-5">Create Food</h2>

<form action="/Food/Create" method="POST" class="m-5">
    <div class="mb-3">
        <label for="foodName" class="form-label">Food Name:</label>
        <input type="text" class="form-control" id="FoodName" placeholder="Enter Food name" name="FoodName">
    </div>
    <div class="mb-3">
        <label for="foodDescription" class="form-label">Food Description:</label>
        <textarea class="form-control" id="FoodDescription" rows="3" name="FoodDescription"></textarea>
    </div>
    <div class="mb-3">
        <label for="foodPrice" class="form-label">Food Date:</label>
        <input type="number" class="form-control" id="foodPrice" name="FoodPrice">
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary mb-3" value="Add Food">
    </div>
</form>

